* { /* not sure I wanna use this yet but let's just put it here for the moment */
  box-sizing: border-box;
}

:root {
    --bg-colour: #eee;
    --bg-colour-hover: #ddd;
    --accent-colour: #bab;
    --accent-colour-strong: #e7e;
    --transition-speed: 0.25s;
    --bg-colour-correct: #cec;
    --text-colour-correct: #363;
    --bg-colour-wrong: #ecc;
    --text-colour-wrong: #633;
}

a {
    color: var(--accent-colour-strong);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    text-align: center;
/*    padding: 20px 0px 20px 0px;*/
    background-color: var(--bg-colour);
}

h1 {
    text-align: center;
}

.nav-button {
    padding: 20px 0px 20px 0px;
    background: none;
    border: 0px;
    transition: var(--transition-speed);
    width: 20%;
    height: 100%;

}

.nav-button:hover {
    background: var(--accent-colour-strong);
    color: white;
}

main {
    font-size: 24px;
    padding: 20px 50px 20px 50px;
}

button {
    font-size: 20px;
}

/* SHARED */
.single-hanja-display-block {
    font-size: 24px;
    text-align: center;
}

.single-hanja-character {
    font-size: 64px;
}

/* ABOUT ME  */
section.about-me {
    font-size: 20px;
    max-width: 500px;
    width: 100%;
    margin: 25px auto;
    background: var(--bg-colour);
    padding: 15px;
    border-radius: 15px;
}

/* DICTIONARY  */
button.dictionary-index-reading, button.dictionary-index-stroke {
    font-size: 24px;
    background: none;
    border: 0px;
    margin: 2px;
    padding: 4px;

    color: #000;
    transition: var(--transition-speed);
}

button.dictionary-index-reading:hover,
button.dictionary-index-reading:focus,
button.dictionary-index-stroke:hover,
button.dictionary-index-stroke:focus {
    color: var(--accent-colour);
}

button.hanja-text-button {
    font-size: 32px;
    background: none;
    border: 0px;
    color: #000;
    transition: var(--transition-speed);
}

button.hanja-text-button:hover,
button.hanja-text-button:focus {
    color: var(--accent-colour);
}


details > *:not(summary) {
    font-size: 16px;
    margin: 5px 40px 5px 40px;
}

div.dictionary-row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
/*    margin: 20px 20px 20px 20px;*/
}

div.dictionary-column {
    flex: 45%;
    margin: 20px 0px 20px 20px;
}

details.dict-reading {
    margin: 10px auto;
    padding: 5px 5px 5px 5px auto;
    flex: 100%;
    background-color: var(--bg-colour);
}

/* QUIZ  */
section.mcq-quiz {
    font-size: 24px;
    text-align: center;
}

section.mcq-answers {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

section.quiz-answer-correct, section.quiz-answer-wrong {
    margin: 25px auto;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    border-radius: 25px;
}

section.quiz-answer-correct {
    background-color: var(--bg-colour-correct);
    color: var(--text-colour-correct);
}

section.quiz-answer-wrong {
    background-color: var(--bg-colour-wrong);
    color: var(--text-colour-wrong);
}

button.mcq-button {
    flex: 30%;
    margin: 10px;
    padding: 20px 100px 20px 100px;
    background: var(--bg-colour);
    border: 0px;
    border-radius: 5px;
    font-size: 28px;
    transition: var(--transition-speed);
}

button.mcq-button:hover, button.mcq-button:focus {
    background: var(--bg-colour-hover);
}

section.quiz-section {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    margin: auto;
}

button.quiz-button {
    flex: 100%;
    margin: 10px;
    padding: 20px 100px 20px 100px;
    background: var(--bg-colour);
    border: 0px;
    border-radius: 5px;
    font-size: 28px;
    transition: var(--transition-speed);
}

button.quiz-button:hover, button.quiz-button:focus {
    background: var(--bg-colour-hover);
}