* { /* not sure I wanna use this yet but let's just put it here for the moment */
  box-sizing: border-box;
}

:root {
    --bg-colour: #eee;
    --accent-colour: #bab;
    --accent-colour-strong: #e7e;
    --transition-speed: 0.25s;
}

a {
    color: var(--accent-colour-strong);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    text-align: center;
/*    padding: 20px 0px 20px 0px;*/
    background-color: var(--bg-colour);
}

.nav-button {
    padding: 20px 0px 20px 0px;
    background: none;
    border: 0px;
    transition: var(--transition-speed);
    width: 20%;
    height: 100%;

}

.nav-button:hover {
    background: var(--accent-colour-strong);
    color: white;
}

main {
    font-size: 24px;
    padding: 20px 50px 20px 50px;
}

button {
    font-size: 20px;
}

button.dictionary-index-reading, button.dictionary-index-stroke {
    font-size: 24px;
    background: none;
    border: 0px;
    margin: 2px;
    padding: 4px;

    color: #000;
    transition: var(--transition-speed);
}

button.dictionary-index-reading:hover,
button.dictionary-index-reading:focus,
button.dictionary-index-stroke:hover,
button.dictionary-index-stroke:focus {
    color: var(--accent-colour);
}

button.hanja-text-button {
    font-size: 32px;
    background: none;
    border: 0px;
    color: #000;
    transition: var(--transition-speed);
}

button.hanja-text-button:hover,
button.hanja-text-button:focus {
    color: var(--accent-colour);
}


details > *:not(summary) {
    font-size: 16px;
    margin: 5px 40px 5px 40px;
}

.single-hanja-display-block {
    font-size: 24px;
    text-align: center;
}

.single-hanja-character {
    font-size: 64px;
}

div.dictionary-row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
/*    margin: 20px 20px 20px 20px;*/
}

div.dictionary-column {
    flex: 45%;
    margin: 20px 0px 20px 20px;
}

details.dict-reading {
    margin: 10px auto;
    padding: 5px 5px 5px 5px auto;
    flex: 100%;
    background-color: var(--bg-colour);
}

section.about-me {
    font-size: 20px;
    max-width: 500px;
    width: 100%;
    margin: 25px auto;
    background: var(--bg-colour);
    padding: 15px;
    border-radius: 15px;
}