:root {
    --accent-colour: #bab;
    --accent-colour-strong: #e7e;
}

a {
    color: var(--accent-colour-strong);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    text-align: center;
    padding: 20px 0px 20px 0pc;
}

main {
    font-size: 24px;
    padding: 20px 50px 20px 50px;
}

button {
    font-size: 20px;
}

button.dictionary-index {
    font-size: 24px;
    background: none;
    border: 0px;
    margin: 2px;
    padding: 4px;

    color: #000;
    transition: 0.25s;
}

button.dictionary-index:hover,
button.dictionary-index:focus {
    color: var(--accent-colour);
/*    border-color: #aaa;*/
/*    color: #fff;*/
/*    box-shadow: inset 0 0 0 2em #aaa;*/
}

button.hanja-text-button {
    font-size: 32px;
    background: none;
    border: 0px;
    color: #000;
    transition: 0.25s;
}

button.hanja-text-button:hover,
button.hanja-text-button:focus {
    color: var(--accent-colour);
}


details > *:not(summary) {
    font-size: 16px;
    margin: 5px 40px 5px 40px;
}

.single-hanja-display-block {
    font-size: 24px;
    text-align: center;
}

.single-hanja-character {
    font-size: 64px;
}

div.dictionary-row {
  display: flex;
  margin: 20px 20px 20px 20px;
}

div.dictionary-column {
  flex: 50%;
  margin: 20px 20px 20px 20px;
}

div.dictionary-column-header {
  flex: 50%;
  margin: 20px 20px 20px 20px;
}

section.about-me {
    font-size: 20px;
    max-width: 500px;
    width: 100%;
    margin: 25px auto;
    background: #eeeeee;
    padding: 15px;
    border-radius: 15px;
}
}